Host silo
  Hostname silo.sice.indiana.edu
Host tank
  Hostname tank.sice.indiana.edu
  ForwardX11Timeout 7d
Host hulk 
  Hostname hulk.sice.indiana.edu
  ForwardX11Timeout 7d
Host cad
  Hostname tank.sice.indiana.edu
  LocalForward 5901 tank.sice.indiana.edu:5901
  ForwardX11Timeout 7d

Host git*
  ForwardX11 no
Host github.com gitlab.com
  User hoosieree

Host *
  User ashroyer
  ForwardAgent yes
  ForwardX11 yes
  Compression yes
  PubkeyAuthentication yesubkeyAuthentication yes